*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.magazine-cover {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr 1fr;
    gap: 10px;
    grid-template-areas:
    "title title title"
    "feature-article feature-article cover-image"
    "small-article1 small-article2 cover-image";
    width: 90vw;
    margin: 10px auto;
}

.title {
    grid-area: title;
    text-align: center;
}

.feature-article {
    grid-area: feature-article;
}

.small-article1 {
    grid-area: small-article1;
}

.small-article2 {
    grid-area: small-article2;
}

.cover-image {
    grid-area: cover-image;
}