*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: beige;
    margin: 0 auto;
}


#header-img {
    width: 300px;
    object-fit: contain;
}

#nav-bar ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    list-style: none;
}

#nav-bar a {
    text-decoration: none;
    color: aqua;
}

main {
    margin: 1rem auto;
    max-width: 1000px;
    padding: 1rem;
}

.hero {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    margin-bottom: 3rem;
}

.hero-title {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero-sub-title {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.hero #form input[type="email"] {
    border: 1px solid black;
    height: 2rem;
    width: 25ch;
    padding-left: 10px;
}

.hero #form input[type="submit"] {
    border: none;
    margin-left: 0.5rem;
    background-color: aqua;
    padding: .5rem;
}

.hero-image {
    width: 700px;
    max-width: 100%;
    object-fit: scale-down;
}

.features-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style: none;
}

.features-list h3::before {
    content: "🔥";
    margin-right: 0.5rem;
}

.features-list p {
    margin-bottom: 1rem;
}

#how-it-works {
    margin: 3rem auto;
    width: 560px;
}

#pricing {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;
    margin: 1rem;
    align-items: center;
}

.price-box {
    border: 1px solid black;
    border-radius: 10px;
    min-height: 300px;
    position: relative;
}

.price-box .price-title {
    background-color: aliceblue;
    padding: 1rem 0 1rem 0;
    vertical-align: middle;
    text-align: center;
    border-radius: 10px 10px 0 0;
}

.price-box .price {
    text-align: center;
    margin: 1rem;
    font-size: 2rem;
}

.price-box ul {
    list-style: none;
    line-height: 1.5rem;
    text-align: center;
}

.price-box button {
    margin: 1rem auto 1rem auto;
    border: none;
    background-color: aqua;
    padding: .5rem 1.5rem;
    display: block;
    font-size: 1rem;
    border-radius: 5px;
    position: relative;
}

.price-box button:hover {
    background-color: black;
    color: aqua;
}

.footer {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: flex-end;
}

.footer-list {
    display: flex;
    gap: 1rem;
    list-style: none;
}

.footer a {
    text-decoration: none;
    color: aqua;
}

@media screen and (max-width:800px) {
    #pricing {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 1rem;
    }

    .hero-image {
        display: none;
    }
}

@media screen and (max-width:500px) {
    #pricing {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 1rem;
    }

    #how-it-works {
        display: none;
    }
}